*{
    margin: 0;
    font-family: 'Righteous', cursive;
    scroll-behavior: smooth;
}
:root {
    background-color: #f3e5dc;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url(grafika/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    
}
header h3{
    font-weight: 200;
    font-size: 95%;
}

#stripe {
    background-color: #8641007a;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2em;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    margin-top: 40vh;
    position: relative;
    
}
#fix {
    height: 100vh;
}

nav {
    top: 0;
    position: sticky;
    text-align: right;
    background-color: #b36200b6;
    color: white;
    z-index: 5;
}
nav li {
    display: inline;
    font-size: 1.5em;
}
#arrow {
    position: fixed;
    right: 0.5%;
    bottom: 8%;
    z-index: 3;
}
#arrow img {
    transition: 0.3s;
    position: absolute;
    right: 100%;
    bottom: 8%;
    color: rgb(0, 0, 0);
    width: 3rem;
    opacity: 35%;
}
#arrow img:hover {
    transition: 0.5s;
    position: absolute;
    right: 100%;
    bottom: 8%;
    filter: invert(0%) sepia(87%) saturate(7500%) hue-rotate(127deg) brightness(115%) contrast(110%);
    width: 3.8rem;
    opacity: 100%;
    transform: rotate(360deg);
}
nav a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    margin-right: 1rem;
}
nav a:hover {
    text-shadow:  0px 0px 10px black;
    font-size: 1.3em;
    transition: 0.3s;
}

#bio {
    height: auto;
    padding: 1.5rem;
    overflow: hidden;
}
#bio p {
    background-color: white;
    box-shadow: 5px 5px 7px rgb(110, 110, 110);
    width: 30%;
    margin-left: 45%;
    text-align: right;
    font-size: 1.5em;
    color: #3E1D00;
    padding: 3rem;
    padding-top: 4em;
    padding-bottom: 4em;
}
#bio img {
    width: 20%;
    border-radius: 100px 100px;
    float:left;
    border: 0.2em #3e1d00a4 solid;
    border-right: 0.6em #3e1d00a4 solid;
    padding: 10px;
    transition: 0.5s;
}
#bio img:hover {
    width: 35%;
    border-radius: 90px 90px;
    float:left;
    border: 0.3em #3e1d00ce solid;
    padding: 10px;
    transition: 0.5s;
}
hr {
    width: 80%;
    border: 0.05em solid #3e1d00a4;
    border-radius: 1em;
    margin: auto;
    margin-bottom: 10%;
}
section {
    margin-top: 2%;
    margin-bottom: 5%;
}
#rzeźbiarz {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    transform: skewY(-5deg);
    margin-top: 10%;
    padding-bottom: 10%;
    box-shadow: 0px 0px 20px rgb(110, 110, 110);
    z-index: 2;
}

#rzeźbiarz p {
    width: 30%;
    color: #3E1D00;
    font-size: 2em;
    text-align: center;
    margin-left: 65%;
    padding-top: 10%;
}
#rzeźbiarz img {
    width: 40%;
    transform: skewY(5deg);
    display: block;
    position: absolute;
    top: 15%;
    left: 10%;
    filter: drop-shadow(12px 12px 10px rgba(0,0,0,0.5));
}
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}
#grid img {
    box-shadow: 10px 10px 15px rgb(95, 95, 95);
    border: ridge;
    border-width: 0.5rem;
    width: 65%;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-right: 15%;
    transition: 0.5s;
    z-index: 1;
}
#grid img:hover {
    box-shadow: 15px 15px 30px rgb(110, 110, 110);
    width: 100%;
    transition: 0.5s;
    z-index: 2;
}
#grid figure:hover {
    width: 100%;
    transition: 0.5s;
    z-index: 2;
}
#grid figure:hover img {
    box-shadow: 15px 15px 30px rgb(110, 110, 110);
}
#grid img.prawaKol:hover {
    box-shadow: 15px 15px 30px ;
    width: 100%;
    transition: 0.5s;
    z-index: 2;
    transform: translateX(-20%);
}
#rzeźby h1 {
    text-align: center;
    margin-top: 5%;
    padding-bottom: 0.3rem;
    font-size: 3em;
    font-weight: 400;
    text-shadow: 3px 3px 5px rgb(110, 110, 110);
    border: ridge;
    border-width: 1rem;
    background-color: white;
    box-shadow: inset 0 0 30px rgba(110, 110, 110, 0.466);
}
#grid figcaption {
    font-size: 1em;
    text-align: center;
    transition: 0.5s;
    border: ridge;
    border-width: 0.25rem;
    background-color: white;
    box-shadow: inset 0 0 15px rgba(110, 110, 110, 0.466);
}
#grid figure:hover figcaption {
    opacity: 0;
    transition: 0.5s;
}
#grid figure {
    margin-bottom: 1.5rem;
}
#freski {
    position: relative;
    background-image: url(grafika/freski/back.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 250vh;
    transform: skewY(5deg);
    margin-top: 10%;
    box-shadow:  inset 0px 11px 8px -1px rgba(230, 206, 187, 0.281);
}
#freski img{
    filter: grayscale(0%);
}
#sądP{
    position: absolute;
    text-align: left;
    transform: skewY(-5deg);
    width: 30%;
    color: #ffffff;
    font-size: 1.3em;
    text-align: center;
    margin-left: 60%;
    padding-top: 7%;
    z-index: 2;
}
#sąd{
    position: absolute;
    width: 40%;
    transform: skewY(-5deg);
    display: block;
    position: absolute;
    top: 10%;
    left: 15%;
    filter: drop-shadow(12px 12px 10px rgba(0,0,0,0.5));
    z-index: 1;
}
#sądP2 {
    position: absolute;
    text-align: left;
    transform: skewY(-5deg);
    width: 30%;
    color: #ffffff;
    font-size: 1.3em;
    text-align: center;
    margin-left: 20%;
    padding-top: 7%;
    z-index: 2;
}
#freskiIntro{
    position: relative;
    background-color: white;
    width: 60%;
    height: 40%;
    margin-left: 40%;
    padding-bottom: 5%;
    box-shadow: 0px 5px 7px rgb(110, 110, 110);
}
#freskiIntro p{
    color: #3E1D00;
    font-size: 1.5rem;
    padding-left: 50%;
    padding-top: 5%;
    width: 45%;
    text-align: center;
}
#freskiIntro img {
    position: absolute;
    width: 50%;
    transform: translate(-20%, 10%);
    box-shadow:  -5px 5px 5px rgb(110, 110, 110);
}
#Adam {
    position: absolute;
    width: 40%;
    transform: skewY(-5deg);
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    filter: drop-shadow(12px 12px 10px rgba(0,0,0,0.5));
    z-index: 1;
}
#adamP2 {
    position: absolute;
    text-align: left;
    transform: skewY(-5deg);
    width: 30%;
    color: #ffffff;
    font-size: 1.3em;
    text-align: center;
    left: 55%;
    top: 31%;
    z-index: 2;
}
#adamP {
    position: absolute;
    text-align: left;
    transform: skewY(-5deg);
    width: 30%;
    color: #ffffff;
    font-size: 1.3em;
    text-align: center;
    left: 18%;
    top: 50%;
    z-index: 2;
}
#bitwa {
    position: absolute;
    width: 40%;
    transform: skewY(-5deg);
    display: block;
    position: absolute;
    top: 70%;
    left: 10%;
    filter: drop-shadow(12px 12px 10px rgba(0,0,0,0.5));
    z-index: 1;
}
#bitwaP {
    position: absolute;
    text-align: left;
    transform: skewY(-5deg);
    width: 30%;
    color: #ffffff;
    font-size: 1.3em;
    text-align: center;
    left: 55%;
    top: 70%;
    z-index: 2;
}
#bitwaP2 {
    position: absolute;
    text-align: left;
    transform: skewY(-5deg);
    width: 30%;
    color: #ffffff;
    font-size: 1.3em;
    text-align: center;
    left: 15%;
    top: 90%;
    z-index: 2;
}
#grid2 {
    position: relative;
    display: inline-flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}
#archTyt {
    text-align: center;
    margin-top: 5%;
    padding-bottom: 0.3rem;
    font-size: 3em;
    font-weight: 400;
    text-shadow: 3px 3px 5px rgb(110, 110, 110);
    border: ridge;
    border-width: 1rem;
    background-color: white;
    box-shadow: inset 0 0 30px rgba(110, 110, 110, 0.466);
}
#arch img {
    border: ridge;
    border-width: 0.3rem;
    filter: blur(5px);
    object-fit: cover;
    width: 24.3%;
    height: 100vh;
    transition: 0.5s;
    z-index: 1;
}
#grid2 #card1:hover ~ img#arch1 {
    filter: blur(0px);
    object-fit: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: 10%;
    transition: 0.5s;
    z-index: 3;
}
#grid2 #card2:hover ~ img#arch2 {
    filter: blur(0px);
    object-fit: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: 10%;
    transition: 0.5s;
    z-index: 3;
}
#grid2 #card3:hover ~ img#arch3 {
    filter: blur(0px);
    object-fit: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: 10%;
    transition: 0.5s;
    transform: translateX(-20%);
    z-index: 3;
}
#grid2 #card4:hover ~ img#arch4 {
    filter: blur(0px);
    object-fit: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: 10%;
    transition: 0.5s;
    transform: translateX(-20%);
    z-index: 3;
}
#grid2 #card1:hover {
    opacity: 0%;
    transform: translateY(-40%);
    transition: 0.25s;
    z-index: 4;
}
#grid2 #card2:hover {
    opacity: 0%;
    transform: translateY(-40%);
    transition: 0.25s;
    z-index: 4;
}
#grid2 #card3:hover {
    opacity: 0%;
    transform: translateY(-40%);
    transition: 0.25s;
    z-index: 4;
}
#grid2 #card4:hover {
    opacity: 0%;
    transform: translateY(-40%);
    transition: 0.25s;
    z-index: 4;
}
#card1,#card2,#card3,#card4 {
    width: 10vw;
    background-color: rgba(36, 20, 2, 0.541);
    border: rgba(255, 255, 255, 0.685) solid;
    height: auto;
    font-weight: 100;
    padding: 1.5em;
    text-align: center;
    position: absolute;
    color: white;
    top: 40%;
    z-index: 2;
    font-size: 1rem;
}
#card1 {
    left: 5%;
}
#card2 {
    left: 30%;
}
#card3 {
    left: 53%;
    width: 15%;
}
#card4 {
    left: 78%;
}
#poezjaIntro {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    transform: skewY(-5deg);
    margin-top: 10%;
    box-shadow: 0px 0px 20px rgb(110, 110, 110);
    z-index: 2;
}
#poezjaIntro p {
    width: 40%;
    color: #3E1D00;
    font-size: 2em;
    text-align: center;
    margin-left: 56%;
    padding-top: 3%;
    padding-bottom: 3%;
}
#poezjaIntro img {
    width: 40%;
    transform: skewY(5deg);
    display: block;
    position: absolute;
    top: 15%;
    left: 6%;
    filter: drop-shadow(0px 15px 5px rgba(0,0,0,0.5));
}
footer{
    margin-top: 20%;
    width:100%;
    height:15vh;
    background-color:#b36200b6;
}
footer p,a {
    padding-top: 1rem;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.2em;
}
footer a:hover {
    padding-top: 1rem;
    text-decoration: none;
    color: rgb(255, 201, 24);
    text-align: center;
    font-size: 1.2em;
}
#autor {
    font-size: 0.85rem;
}
